<div class="relative overflow-x-auto text-lg">
  <table class="w-full text-left rtl:text-right text-gray-500">
    <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">id</th>
        <th scope="col" class="px-6 py-3">nombre</th>
        <th scope="col" class="px-6 py-3">estatus</th>
        <th scope="col" class="px-6 py-3">especies</th>
        <th scope="col" class="px-6 py-3">imagen</th>
        <th scope="col" class="px-6 py-3">ubicacion</th>
      </tr>
    </thead>
    <tbody>
      @for (character of characterDetails; track $index) {
      <tr class="bg-white border-b">
        <td class="px-6 py-4">{{character.id}}</td>
        <td class="px-6 py-4">{{character.name}}</td>
        <td class="px-6 py-4">{{character.status}}</td>
        <td class="px-6 py-4">{{character.species}} </td>
        <td class="px-6 py-4">{{character.location}}</td>
        <td class="px-6 py-4">
          <img
            [src]="character.sprites"
            [alt]="character.name"
            class="w-20 h-20"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
